<p style="color: green"><%= notice %></p>

<% content_for :title, "Deco names" %>

<h1 style="text-align: center;">Deco names</h1>

<div id="deco_names">
  <% @deco_names.each do |deco_name| %>
    <%= render deco_name %>
    <p>
      <%= link_to "Show this deco name", deco_name %>
    </p>
  <% end %>
</div>

<div class="text-center">
  <%= link_to "名前をデコる", new_deco_name_path, class: "btn bg-orange-500 hover:bg-orange-600 text-white" %>
</div>
